/* When the user is hovering over the image we increase the size and create a fading effect */
.card:hover img {
    /* This is increasing the size of the card */
    transform: scale(1.2,1.2);
    /* This is how long we want this to go on for */
    transition-duration: 500ms;
    transition-timing-function: east-out;
    opacity: 0.7;
}

/* When the user is not hovering over the image we want to scale it back to its normal size */
.card img{
    transform: scale(1.0,1.0);
    transition-duration: 500ms;
    transition-timing-function: east-out;
}

/* This will confine the image increase to inside the box */
.card-img-wrapper{
    overflow: hidden;
    position: relative;
}

.member-icons{
    position: absolute;
    /* Buttons will start off 30 percent below the card */
    bottom: -30%;
    left: 0;
    right: 0;
    margin-left:auto;
    margin-right: auto;
    opacity: 0;
}

/* Only display the button when hovering over the card */
.card-img-wrapper:hover .member-icons{
    bottom:0;
    opacity:1;
}

/* When we hover the buttons will slide up and slide down when not hovering */
.animate{
    transition: all 0.3s ease-in-out;
}