<form [formGroup]="registerForm" (ngSubmit)="register()" autocomplete="off">
  <h2 class="text-center text-primary">Sign up</h2>
  <hr />

  <div class="mb-3">
    <label style="margin-right: 10px">I am a: </label>
    <label class="form-check-label" id="maleInput">
      <input
        type="radio"
        class="form-check-input"
        value="male"
        formControlName="gender"
        for="maleInput"
      />
      Male
    </label>
    <label class="form-check-label" id="femaleInput">
      <input
        type="radio"
        class="form-check-input"
        value="female"
        formControlName="gender"
        for="femaleInput"
      />
      Female
    </label>
  </div>

  <app-text-input
    [formControl]="$any(registerForm.controls['username'])"
    [label]="'Username'"
  ></app-text-input>

  <app-text-input
    [formControl]="$any(registerForm.controls['knownAs'])"
    [label]="'Known As'"
  ></app-text-input>

  <app-date-picker>
    [label]="'Date of Birth'"
    [formControl]="$any(registerForm.controls['dateOfBirth'])"
  </app-date-picker>

  <app-text-input
    [formControl]="$any(registerForm.controls['city'])"
    [label]="'City'"
  ></app-text-input>

  <app-text-input
    [formControl]="$any(registerForm.controls['country'])"
    [label]="'Country'"
  >
  </app-text-input>
  <app-text-input
    [formControl]="$any(registerForm.controls['password'])"
    [label]="'Password'"
  >
  </app-text-input>
  <app-text-input
    [formControl]="$any(registerForm.controls['confirmPassword'])"
    [label]="'ConfirmPassword'"
  >
  </app-text-input>

  <div class="form-group text-center">
    <button class="btn btn-success mr-2" type="submit">Register</button>
    <button (click)="cancel()" class="btn btn-danger mr-2" type="button">
      Cancel
    </button>
  </div>
</form>

<p>Form Value: {{ registerForm.value | json }}</p>
<p>Form Status: {{ registerForm.status | json }}</p>
