<form [formGroup]="registerForm" (ngSubmit)="register()" autocomplete="off">
  <h2 class="text-center text-primary">Sign up</h2>
  <hr />
  <app-text-input
    [formControl]="$any(registerForm.controls['username'])"
    [label]="'Username'"
  >
  </app-text-input>
  <app-text-input
    [formControl]="$any(registerForm.controls['password'])"
    [label]="'Password'"
  >
  </app-text-input>
  <app-text-input
    [formControl]="$any(registerForm.controls['confirmPassword'])"
    [label]="'ConfirmPassword'"
  >
  </app-text-input>

  <div class="form-group text-center">
    <button class="btn btn-success mr-2" type="submit">Register</button>
    <button (click)="cancel()" class="btn btn-danger mr-2" type="button">
      Cancel
    </button>
  </div>
</form>

<p>Form Value: {{ registerForm.value | json }}</p>
<p>Form Status: {{ registerForm.status | json }}</p>
