/*  Adding cursor pointer when hovering over toggle and dropdown items */
.dropdown-toggle, .dropdown-item{
    cursor: pointer;
}

/* User profile image styling */
img{
    max-height: 50px;
    border: 2px solid white;
    display: in-line;
}
